# Frontend (React, frontend_bc)
frontend_bc/logs
frontend_bc/*.log
frontend_bc/npm-debug.log*
frontend_bc/yarn-debug.log*
frontend_bc/yarn-error.log*
frontend_bc/pnpm-debug.log*
frontend_bc/lerna-debug.log*
frontend_bc/node_modules
frontend_bc/dist
frontend_bc/dist-ssr
frontend_bc/*.local
frontend_bc/.env
frontend_bc/.vscode/*
!frontend_bc/.vscode/extensions.json
frontend_bc/.idea
frontend_bc/.DS_Store
frontend_bc/*.suo
frontend_bc/*.ntvs*
frontend_bc/*.njsproj
frontend_bc/*.sln
frontend_bc/*.sw?

# Backend (Spring Boot, gestion_bc)
gestion_bc/HELP.md
gestion_bc/target/
gestion_bc/.mvn/wrapper/maven-wrapper.jar
!gestion_bc/src/main/**/target/
!gestion_bc/src/test/**/target/
gestion_bc/.apt_generated
gestion_bc/.classpath
gestion_bc/.factorypath
gestion_bc/.project
gestion_bc/.settings
gestion_bc/.springBeans
gestion_bc/.sts4-cache
gestion_bc/.idea
gestion_bc/*.iws
gestion_bc/*.iml
gestion_bc/*.ipr
gestion_bc/.env
gestion_bc/nbproject/private/
gestion_bc/nbbuild/
gestion_bc/dist/
gestion_bc/nbdist/
gestion_bc/.nb-gradle/
gestion_bc/build/
!gestion_bc/src/main/**/build/
!gestion_bc/src/test/**/build/
gestion_bc/.vscode/

# General
.DS_Store
*.env
*.log